body { 
    background-color: #9cb573;
}

.btn {
    background-color: #0f6952;
    opacity: 0.6;
    border: none;
    color: white;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 8px 2px;
    cursor: pointer;
  }
  
.btn1 {
    border-radius: 12px;
    width: 150px;
    margin: auto;
}

.btn2 {
    border-radius: 50px;
}

@font-face {
    font-family: myFirstFont;
    src: url("fontes/PathwayGothicOne-Regular.ttf");
}

h2 {
    font-family: myFirstFont;
    color: white;
    width: 150px;
    height: 150px;
    
}

h3 {
    font-family: myFirstFont;
    color: white;
}

h4 {
    font-family: myFirstFont;
    color:white;
}

.ticones{
    font-family: myFirstFont;
    color:white;
    font-size: 18pt;
}


