/*=================DEFINITIONS====================*/


/* Fonts */
@font-face {
    font-family: font1;
    src: url(resources/font/PathwayGothicOne-Regular.ttf);
  }

@font-face {
  font-family: font2;
  src: url(resources/font/Raleway-Regular.ttf);
}

/* Colors */
*{
  --lightBlue: #64A6BD;
  --darkBlue: #26547C;
  --snow: #f8f4f3;
  --olive: #9CB573;
  --oliveDark: #0f6952;
}

a{
  text-decoration: none;
}

body{
  margin: 0%;
}

.title{
  font-family: font1;
  color: var(--olive);
  font-weight: 400;
}

/* ===============NAVBAR===================== */
  .navbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 72px;
    left: 0px;
    top: 0px;
    background: rgba(15, 105, 82, 0.3);
    mix-blend-mode: darken;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .navbar .Home{
    font-family: font1;
    color: snow;
    position: absolute;
    width: max-content;
    left: 90%;
  }

  .navbar .menu{
    max-width:30px;
    max-height:30px;
    width: auto;
    height: auto;
    position: absolute;
    padding-top: 1.5em;
    padding-left: 1.5em;
  }

/* ============ SCREEN 1 ===================== */

  .screen1{
    width: 100%;
    height: 100%;
  }

  .screen1 .title{
    left: 8%;
    font-size: 90px;
    margin: 0%;
    margin-left: 1em;
    margin-top: 5px;
  }

  .screen1 .subtitle{
    font-family: font2;
    margin-top: 0%;
    margin-left: 4.3em;
    color: var(--oliveDark);
  }

  .screen1 .imgHome{
    float: right;
  }

  .screen1 .arrow{
    top: 25em;
    left: 15em;
  }

  .screen2 .title{
    justify-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 60px;
  }

  .mimimomo{
    height: 790px;
  }
